* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #191919;
    color: #edeff5;
    font-size: 16px;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
    font-weight: 300;
}
h2 {
    font-size: 24px;
    margin-bottom: 6px;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-size: 18px;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
h2 {
    font-size: 24px;
    margin-bottom: 6px;
}
h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 6px;
}
hr {
    height: 1px;
    margin: 48px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
blockquote {
    font-style: italic;
    font-size: 16px;
}

ul {
    margin: 24px 0 24px 48px;
}

input[type="text"] {
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid rgba(111, 124, 130, 0.6);
    font: inherit;
    .question-input & {
        width: 100%;
    }
    &:focus {
        outline: none;
    }
}
.centered {
    margin: auto;
    text-align: center;
}
.table {
    display: table;
    width: 100%;
    > .table-cell {
        display: table-cell;
        vertical-align: middle;
    }
}
.breathe-bottom {
    margin-bottom: 12px;
}
.meta {
    font-size: 16px;
    font-style: italic;
}
.button,
button {
    display: inline-block;
    margin: 24px 6px 0 0;
    background: transparent;
    padding: 6px 12px;
    border-radius: 1px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:focus {
        outline: none;
    }
    .question & {
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    }
}
.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    max-width: 952px;
    min-width: 640px;
    margin: auto;
    padding: 48px 24px;
    position: relative;
}
footer {
    display: flex;
    padding: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    span {
        margin-right: 6px;
    }
}
.stats {
    display: flex;
}
.score {}
.score-value {
    font-size: 36px;
    font-weight: 700;
    .finished & {
        margin-top: 24px;
    }
}
.timer {
    margin-left: auto;
}
.canvas {
    height: 300px;
    display: flex;
}
.time {
    font-weight: 700;
    font-size: 32px;
}
.time-bad {
    color: red;
}
.time-good {
    color: green;
}
.time-warning {
    color: orange;
}
.question {
    &.selected {
        .button {
            color: #000;
            background: #fff;
        }
    }
}
h1 {
    font-family: "HelveticaNeueHeavy", "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif;
    font-weight: 700;
    font-stretch: normal;
    margin-bottom: 48px;
}

.face {
    transform: rotate(90deg);
    transform-origin: center;
    font-size: 48px;
    margin: 48px auto 24px auto;
    position: relative;
    left: 3px;
}
